:root {
  --spacing-padding: 1rem;
  --spacing-gap: 4px;
  --spacing-margin-bottom: 2rem;
  --border-radius: 4px;
  --border-: 1px solid #0004;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
  gap: 2rem;
}

.info {
  background: #0002;
  width: 80%;
  padding: var(--spacing-padding);
  border-radius: var(--border-radius);

  & .row.score {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}

.board-game {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  border: none;

  & > div {
    width: 33.33%;
    height: 33.33%;
    background: #fff;
    border: 4px solid #0006;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
  }

  & > div:nth-child(4), div:nth-child(5), div:nth-child(6) {
    border-top: none;
    border-bottom: none;
  }

  & > div:nth-child(2), div:nth-child(5), div:nth-child(8) {
    border-left: none;
    border-right: none;
  }

  & > div:nth-child(1) {
    border-radius: 4px 0 0 0;
  }

  & > div:nth-child(3) {
    border-radius: 0 4px 0 0;
  }

  & > div:nth-child(7) {
    border-radius: 0 0 0 4px;
  }

  & > div:nth-child(9) {
    border-radius: 0 0 4px 0;
  }

  & > div:hover {
    cursor: pointer;
  }
}

.btn.new-game {
  padding: var(--spacing-padding);
  border-radius: var(--border-radius);
  color: #fff;
  border: 1px solid #0002;
  background: #096902;
  cursor: pointer;
}

.btn.new-game:hover {
  font-weight: 200;
}

/* For iphone 14 Pro Max. */
@media (max-width: 430px) {
  .info {
    width: 100%;

    & span {
      font-size: 12px;
    }
  }

  .board-game {
    height: 20vh;

    & > div {
      font-size: 2rem;
      border: 2px solid #0006;
    }
  }

  p.congrats {
    font-size: 14px;
  }
}

/* For iPad Pro. */
@media (min-width: 834px) and (max-width: 1023px) {

  h2 {
    font-size: 30px;
  }

  .info {
    width: 100%;

    & span {
      font-size: 24px;
    }
  }

  .board-game {
    height: 20vh;

    & > div {
      font-size: 2.5rem;
      border: 2px solid #000;
    }
  }

  p.congrats {
    font-size: 24px;
  }

  .btn.new-game {
    width: 140px;
    font-size: 18px;
  }
}
